@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@500&display=swap');

@import "tailwindcss";
html {
    scroll-behavior: smooth;
  }
  
body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke; 
    
}
    
